*{
    box-sizing: border-box;
}
body{
    font-family: 'Phage Regular KG', sans-serif;
}
.chat {
    margin: 20px;
    max-width: 800px;
    border: 10px solid #08538c;
    background-color: #08538c;
    border-right-width: 5px;
    &-type {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    &-list{
        margin-bottom: 10px;
    }
    &-content{
        display: flex;
        margin-bottom: 10px;
        
        .messages{
            width: calc(80% - 10px);
            height: 400px;
            background-color: lightgray;
            margin-right: 10px;
            padding: 15px;
            
            .message{
                &__nickname{
                    color: #0099cc;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
        .emojies{
            width: calc(20% - 10px);
            min-width: 150px;
            background-color: greenyellow
        }
    }
    &-form{
        display: flex;
        
        .input-text{
            width: calc(80% - 10px);
            margin-right: 10px;
            height: 40px;
            padding: 0 10px;
            font-size: 18px;
        }
        .button{
            width: calc(20% - 10px);
            &__text{
                color: #fff;
            }
        }
    }
}

.button {
    position: relative;
    border: none;
    box-sizing: border-box;
    outline: none;
    background-color: gray;
    
    &:not(:last-child){
        margin-right: 10px;
    }
    &.active{
        background-color: #fff;
        box-shadow: 0px 0px 10px 1px red;
    }
    &__view {
        height: $ui-height-defaul;
        padding: 0 15px;
        font-size: 20px;
        display: flex;
        align-items: center;

        &:hover {
            opacity: 0.5;
        }
    }

    &__indicator {
        position: absolute;
        color: #fff;
        width: 22px;
        height: 22px;
        font-size: 12px;
        background-color: #ff0b00;
        border-radius: 100%;
        bottom: -7px;
        right: -7px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Arial', sans-serif;
    }
    &--send{
        background-color: #de0f17;
        min-width: 150px;
        &:hover{
            background-color: #de0f17 + #333;
        }
        &:active{
            background-color: #de0f17 - #333;
        }
    }
}